<div class="side-panel">
        <a href="/admin"> Dashboard </a>
        <br>
        <a href="/admin/jobs"> Jobs </a>
        <br>
        <a href="/admin/applications"> Applications </a>
        <br>
        <a href="/admin/messages"> Messages </a>
        <br>
        <a href="/admin/subscribers"> Subscribers </a>
        <br>
        <a href=""> LogOut </a>
 
     </div>